<script src="https://www.mercadopago.com/v2/security.js" view=""></script>
<%= render 'cart/header' %>
<p class="w-full text-center bg-yellow-100 text-yellow-800 font-medium rounded">Payment pending</p>

